<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home / {{ title }}</li>
        </ol>
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form action="{{ url_for('Admin.form') }}" method="post">
                    <!--start Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
                            <header>
                                <h2><strong>Add New {{ title }}</strong> </h2>
                            </header>
                            <!-- widget div-->
                            <div>
                                <!-- widget content -->
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-sm-3" style="display:none;">
                                            <div class="form-group">
                                                <label>Form ID</label>
                                                <input class="form-control" placeholder="form id" name="form_id" type="text" value={{ form_id|string }}>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Menu Name</label>
                                                

                                                <select class="form-control" name="menu_name" data-plugin="select_hrm" data-placeholder="Menu Name">
                                                    <option value="{{menus._id}}">{{ menus.menu_name|string }}</option>
                                                        {% for menu in menus %}                                                    
                                                                <option value="{{menu._id}}">{{menu.menu_name}}</option>
                                                        {% endfor %}
                                                </select>

                                            </div>
                                        </div>

<!--
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Menu Name</label>
                                                <input class="form-control" name="menu_name" placeholder="Menu Name" type="text" list="lstmenu_name">
                                                <datalist id="lstmenu_name">
                                                    <option value="Alexandra">Alexandra</option>
                                                    <option value="Alice">Alice</option>
                                                    <option value="Anastasia">Anastasia</option>
                                                    <option value="Avelina">Avelina</option>
                                                    <option value="Basilia">Basilia</option>
                                                </datalist>
                                            </div>
                                        </div>
-->
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Form Name</label>
                                                <input class="form-control" name="form_name" placeholder="Form Name" type="text" value={{ form_name|string }}>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input class="form-control" name="form_description" placeholder="Description" type="text" value={{ form_description|string }}>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Url</label>
                                                <input class="form-control" name="form_url" placeholder="URL" type="text" value={{ form_url|string }}>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="smart-form">
                                                <!-- <label class="label"></label>-->
                                                <label class="toggle">
                                                    <input type="checkbox" name="active_status" checked="checked" value={{ active_status|string }}>
                                                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Active Status</label>
                                                <!-- <select class="form-control" name="password_change_next_login" data-plugin="select_hrm" data-placeholder="Password Change on Next Login">
                                             <option value="">Select One</option>
                                             <option value="">Yes</option>
                                             <option value="">No</option>
                                             </select>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-left:10px;padding-top:10px;padding-bottom:10px;">
                                    <div class="btn-group">
                                        <div class="">
                                            <input name="save" class="btn btn-success" type="submit" value="Submit">
                                            <input type="reset" value="Cancel" class="btn btn-cancel" onclick="return cancel()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- widget content -->
                        </div>
                        <!-- widget div-->
                    </form>
                    <!--start Widget ID (each widget will need unique ID)-->
                     <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
                            <header>
                                <h2><strong>List All {{ title }}</strong> </h2>
                            </header>
                            <!--start widget div-->
                            <div>
                                <!--start widget content -->
                                <div class="widget-body">
                                    <div id="datatable_tabletools_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                        <div class="dt-toolbar">
                                            <div class="col-xs-12 col-sm-6">
                                                <div id="datatable_tabletools_filter" class="dataTables_filter">
<!--
                                                    <div class="dataTables_length" id="dt_basic_length">
                                                        <label>Show
                                                            <select name="dt_basic_length" aria-controls="dt_basic" class="form-control input-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> entries</label>
                                                    </div>
-->
                                                </div>
                                            </div>
<!--
                                            <div class="col-sm-6 col-xs-6 hidden-xs">
                                                <div class="DTTT_container">
                                                    <div id="datatable_col_reorder_filter" class="dataTables_filter">
                                                        <label><span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-search"></i></span>
                                                            <input type="search" class="form-control" placeholder="" aria-controls="datatable_col_reorder">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
-->
                                        </div>
                                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable_tabletools_info" style="width: 100%;" width="100%">
                                            <thead>
                                                <tr role="row">
                                                    <th data-hide="phone,tablet" tabindex="0" aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width:5%;" aria-label="City: activate to sort column ascending">S.No.</th>
                                                    <th data-class="expand" class="expand sorting" tabindex="0" aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width:30%;" aria-label="Name: activate to sort column ascending">Menu Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width: 40%;" aria-label="Phone: activate to sort column ascending">Description</th>
                                                    <th data-hide="phone" class="sorting" tabindex="0" aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width: 15%;" aria-label="Company: activate to sort column ascending">Active Status</th>
                                                    <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width: 10%;" aria-label="Zip: activate to sort column ascending">Action</th>

                                            </thead>
                                            <tbody>
                                                {% for form in form_details %}
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">{{ loop.index }}</td>
                                                        <td class=" expand"><span class="responsiveExpander"></span>{{form.menu_name}}</td>
                                                        <td>{{form.form_name}}</td>
                                                        <td>{{form.form_description}}</td>
                                                        <td>{{form.active_status}}</td>
                                                        
                                                        
                                                        <td class="func1"><a href="{{ url_for('Admin.form_setup_update', form_id = form._id) }}"><button class="btn btn-xs btn-default" data-original-title="Edit Row" type="submit"><i class="fa fa-pencil"></i></button></a>
                                                        <a href="./form_remove?_id={{ form['_id'] }}"><button class="btn btn-xs btn-default" data-original-title="Delete Row" type="submit"><i class="fa fa-trash"></i></button></a></td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
<!--
                                        <div class="dt-toolbar-footer">
                                            <div class="col-sm-6 col-xs-12 hidden-xs">
                                                <div class="dataTables_info" id="datatable_tabletools_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="dataTables_paginate paging_simple_numbers" id="datatable_tabletools_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button previous" id="datatable_tabletools_previous">
                                                            <a href="#" aria-controls="datatable_tabletools" data-dt-idx="0" tabindex="0">Previous</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="1" tabindex="0">1</a></li>
                                                        <li class="paginate_button disabled" id="datatable_tabletools_ellipsis"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="2" tabindex="0">…</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="3" tabindex="0">6</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="4" tabindex="0">7</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="5" tabindex="0">8</a></li>
                                                        <li class="paginate_button active"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="6" tabindex="0">9</a></li>
                                                        <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="7" tabindex="0">10</a></li>
                                                        <li class="paginate_button next" id="datatable_tabletools_next"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="8" tabindex="0">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
-->
                                    </div>
                                </div>

                            </div>
                            <!--end widget content -->
                        </div>
                        <!--end widget div-->
                        <!--end Widget ID (each widget will need unique ID)-->
                    
                </article>
                <!-- end NEW WIDGET-->

            </div>

        </section>
        <!--end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

</div>




<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
    $('#datatable_tabletools').DataTable();
} );
</script>

<script>
        
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(80);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    function cancel() {
        c=confirm("Do you really want to cancel?");

        // Of course, the following could be shortened to "return c;"
        if (c==true)
        {
            return true;
        }
        else{
            return false;
        }
        
    }
</script>
