<!-- iHEALTHCARE - 404 Error
# ****************************************************
#  Project : Iot
#  Filename: 404.html
#  Created : sv
#  Change history:
#  dd.mm.yyyy / developer name
#  05.11.2016 / sv
# ***************************************************
#   Error page
# ****************************************************
-->
<html>
<head>
    <title>404 Error</title>
</head>
<body>
<h2>IoT Error Page!</h2>
<img src="../static/images/404.gif" alt="404" style="width:304px;height:228px;">
</body>
</html>