 <!-- MAIN CONTENT -->
<div id="content">
<!-- widget content -->
<div class="widget-body">

<div id="datatable_tabletools_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class="dt-toolbar">
        <div class="col-xs-12 col-sm-6">
            <div id="datatable_tabletools_filter" class="dataTables_filter">
                <div class="dataTables_length" id="dt_basic_length">
                 <label>Show <select name="dt_basic_length" aria-controls="dt_basic" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries</label>
                </div>
                <!--<label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input class="form-control" placeholder="" aria-controls="datatable_tabletools" type="search"></label>-->
            </div>
        </div>
        <div class="col-sm-6 col-xs-6 hidden-xs">
            <div class="DTTT_container">
               <div id="datatable_col_reorder_filter" class="dataTables_filter">
               <label><span class="input-group-addon">
               <i class="glyphicon glyphicon-search"></i></span>
               <input type="search" class="form-control" placeholder="" aria-controls="datatable_col_reorder">
              </label>
            </div>
            </div>
        </div>
    </div>
    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable_tabletools_info" style="width: 100%;" width="100%">
							<thead>
								<tr role="row">
                                     <th data-hide="phone,tablet" tabindex="0"
                                        aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width:5%;"
                                        aria-label="City: activate to sort column ascending">
                                         S.No.
                                     </th>
                                    <th data-class="expand" class="expand sorting" tabindex="0"
                                        aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width:20%;"
                                        aria-label="Name: activate to sort column ascending">
                                        IRRADIANCE
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable_tabletools" rowspan="1"
                                        colspan="1" style="width: 20%;"
                                        aria-label="Phone: activate to sort column ascending">
                                        Location Code

                                    </th>
                                    <th data-hide="phone" class="sorting" tabindex="0" aria-controls="datatable_tabletools"
                                        rowspan="1" colspan="1" style="width: 20%;"
                                        aria-label="Company: activate to sort column ascending">
                                        Location Name
                                    </th>
                                    <th data-hide="phone,tablet" class="sorting" tabindex="0"
                                        aria-controls="datatable_tabletools" rowspan="1" colspan="1" style="width: 30%;"
                                        aria-label="Zip: activate to sort column ascending">
                                        Address
                                    </th>
                                     <th style="width: 5%;">
                                        Action
                                    </th>

							</thead>
							<tbody>
                            <tr role="row" class="odd">

									<td class=" expand"><span class="responsiveExpander"></span>1</td>
									<td></td>
									<td></td>
									<td></td>
                                    <td></td>
                                    <td><div>
                                    <button class="btn btn-xs btn-default" data-original-title="Delete Row"><i class="fa fa-trash"></i></button>
                                     </div></td>
								</tr>
							</tbody>
						</table><div class="dt-toolbar-footer">
    <div class="col-sm-6 col-xs-12 hidden-xs"><div class="dataTables_info" id="datatable_tabletools_info" role="status"
                                                   aria-live="polite">Showing 1 to 10 of 10 entries
    </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable_tabletools_paginate">
            <ul class="pagination"><li class="paginate_button previous" id="datatable_tabletools_previous">
                <a href="#" aria-controls="datatable_tabletools" data-dt-idx="0" tabindex="0">Previous</a></li>
                <li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="1" tabindex="0">1</a></li>
                <li class="paginate_button disabled" id="datatable_tabletools_ellipsis"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="2" tabindex="0">…</a></li><li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="3" tabindex="0">6</a></li><li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="4" tabindex="0">7</a></li><li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="5" tabindex="0">8</a></li><li class="paginate_button active"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="6" tabindex="0">9</a></li><li class="paginate_button "><a href="#" aria-controls="datatable_tabletools" data-dt-idx="7" tabindex="0">10</a></li><li class="paginate_button next" id="datatable_tabletools_next"><a href="#" aria-controls="datatable_tabletools" data-dt-idx="8" tabindex="0">Next</a></li></ul></div></div></div></div>
</div>
 <!-- widget content -->
</div>
  <!--end MAIN CONTENT -->