<div id="shortcut">
			<ul>
				<li>
					<a href="/iot/getinverterSummaryData" class="jarvismetro-tile big-cubes bg-color-orangeDark selected"> <span class="iconbox"> <i class="fa fa-desktop fa-4x"></i> <span>Energy Analysis</span> </span> </a>
				</li>
				<li>
					<a href="http://202.55.73.114:82/pinnacle_rms" target="_blank" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa  fa-support fa-4x"></i> <span>Health Monitor</span> </span> </a>
				</li>
                <li>
					<a href="#" target="_blank" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa  fa-money fa-4x"></i> <span>Energy Billing</span> </span> </a>
				</li>
                <li>
					<a href="#" target="_blank" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa  fa-rss fa-4x"></i> <span>Sensor Monitor</span> </span> </a>
				</li>
                <li>
					<a href="#" target="_blank" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa  fa-tachometer fa-4x"></i> <span>Service Monitor</span> </span> </a>
				</li>

				<li>
					<a href="#" class="jarvismetro-tile big-cubes  bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
		</div>